/****************** TITLE and SUBTITLES ********************/

.plTitle {
	font-family: var(--ff-title);
	color: var(--c-grey-darkest);
	font-size: 2.25rem;
	font-weight: 900;
	margin-bottom: 1.35rem;
}

.plSubtitle {
	font-size: 1.125rem;
	line-height: 1.45;
	letter-spacing: 0.25px;
	color: var(--c-grey-darkest);
	margin-bottom: 1.7rem;
}

.plIntro {
	display: flex;
	flex-direction: column;
}

.plInfo {
	display: flex;
	flex-direction: column;
	/*padding: 2rem 0;*/
}

.plSectionTitle {
	font-variant: small-caps;
	font-size: 1.25rem;
}

/****************** DESCRIPTION ********************/


.plDescInfo {
	padding: 2rem 0;
}

.paragraph{
	white-space: pre-wrap;
	font-size: 1.125rem;
	line-height: 1.45;
	letter-spacing: 0.25px;
	padding-top: 0.5rem;
}

/****************** SUMMARY ********************/

.plCards {
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 1fr;
	box-sizing: border-box;
	margin-top: 1rem; 
}

.plTile {
	display: flex;
	flex-direction: row;
	border-radius: 10px;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 30px -5px;
	transition: box-shadow 0.15s ease 0s;
	position: relative;
	background-color: white;
	box-sizing: border-box;
	min-height: 60px;
	align-items: center;
}

.plTile img {
	margin-right: 0.75rem;
	width: 40px;
}

.plCardInfo {
	display: flex;
	flex-direction: column;
}

.plCardTitle {
	font-size: 0.9rem;
	font-weight: 600;
	letter-spacing: -0.025rem;
}

.plCardText {
	font-size: 0.9rem;
	line-height: 1.35;
	letter-spacing: 0.25px;
	color: var(--c-grey-darkest);
}

/****************** GALLERY ********************/

.plGallery {
	display: flex;
	flex-direction: row;
	overflow: scroll;
}

.plGallery img {
	margin-top: 1rem; 
	border-radius: 30px;
	margin-right: 1rem;
	max-width: 90vw;
}

/****************** CARE ********************/

.plCare{
	margin-top: 7vh;
}

.plCareInfo {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
	box-sizing: border-box;
	margin-top: 1rem;
}

.plCareCard {
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px -5px;
}

.plTop {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: flex-start;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid var(--c-grey-lightest);
}

.plTopTitle{
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: -0.025rem;
}

.plTop img {
	margin-right: 0.75rem;
	width: 40px;
}

.plCareText {
	font-size: 1rem !important; 
}

/****************** RESPONSIVE ********************/

@media screen and (min-width: 550px) {
	.plCards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 768px) {
	.plCards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 990px) {
	.plCards {
		grid-template-columns: repeat(2, 1fr);
	}

	.plIntro {
		flex-direction: row;
	}

	.plInfo {
		padding-right: 2rem;
		width: 50%;
	}

	.plImages{
		width: 50%;
	}

	.plGallery img{
		position: relative;
		width: 100%;
		max-height: 90vh;

	}

	.plCareInfo {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 990px) {
	.plGallery img{
		width: 100%;
		max-height: 70vh;
	}
}

